.d-none {
    display: none !important;
}

.error {
    margin: 1em !important;
    color: var(--red);
}

.center {
    margin: 0 auto;
    text-align: center;
}

.clr--blue {
    color: var(--blue);
}